body {
  text-align: center;
  background-color: #212529;
}

h1 {
  color: #dadada;
}

ul {
  list-style: none;
  padding: 0;
}

span {
  color: white;
}

.input__container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.input__container-block {
  height: 8rem;
  padding: 20px;
  border: 1px solid #bebebe;
  border-radius: 6px;
  position: relative;
  text-align: left;
  width: 40%;
  overflow: auto;
}

.input__container-button {
  margin: 20px;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: #f75d52;
}

.recognition__info {
  position: absolute;
  bottom: 2rem;
  left: 0;
  font-size: 1.3rem;
}

.select__language {
  position: relative;
  width: 97%;
  text-align: left;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #6c757d;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

box-icon[name="caret-down"] {
  position: absolute;
  right: 10px;
  opacity: 0.5;
}

.language__list {
  position: absolute;
  width: 100%;
  background: #6c757d;
  left: 0;
  border-radius: 6px;
  z-index: 9;
}

.language__list-item {
  padding: 10px;
  color: #d8d8d8;
  cursor: pointer;
  font-size: 1.1rem;
}

.language__list-item:hover {
  color: #eeeeee;
}

.translate__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

box-icon[name="volume-full"] {
  position: absolute;
  right: 10px;
  bottom: 10px;
  fill: #f0f8ff85;
  cursor: pointer;
}

/* MEDIA */

@media screen and (max-width: 400px) {
  .translate__section {
    flex-direction: column;
  }
  .input__container-block {
    margin-top: 20px;
  }
}
